<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-sm>
        <v-layout>
          <v-flex xs12 >
            <img id="img-eflore" src="./assets/logo_eflore.png">
          </v-flex>
        </v-layout>

        <router-view
          name='SearchInput'
          @result-submitted="searchInputHandler"
        ></router-view>

        <v-layout>

          <router-view name='SpeciesCardsList'
            :selectedSpeciesList='selectedSpeciesList'
            @clicked-species="speciesCardsListHandler"
          ></router-view>

          <router-view
            name='SearchSpeciesLog'
            :viewedSpeciesList='viewedSpeciesList'
          ></router-view>

        </v-layout>

        <router-view
          name='SpeciesDetails'
          :clickedSpecies='clickedSpecies'
        ></router-view>

        </v-container>
    </v-content>
  </v-app>
</template>

<script>
import SearchInput from '@/components/SearchInput'
import SearchSpeciesLog from '@/components/SearchSpeciesLog'
import SpeciesCardsList from '@/components/SpeciesCardsList'
import SpeciesDetails from '@/components/SpeciesDetails'

export default {
  name: 'App',

  data() {
    return {
      selectedSpeciesList: '',
      clickedSpecies: '',
      viewedSpeciesList: [],
    }
  },

  components: {
    SearchInput,
    SearchSpeciesLog,
    SpeciesCardsList,
    SpeciesDetails,
  },

  updated(){
    this.highlightSearchText()
  },

  methods: {
    searchInputHandler(searchResult) {
      this.selectedSpeciesList = searchResult
    },

    speciesCardsListHandler(species) {
      this.clickedSpecies = species;
      this.viewedSpeciesList.push({ id: species.id, name: `${species.genus} ${species.attribute_name}` });
    },

    highlightSearchText() {
      let searchText = this.$route.params.searchText
      if (searchText) {
        // The regex prevents text within tag declarations to be affected
        var regex = new RegExp(">([^<]*)?("+searchText+")([^>]*)?<","ig");

        // Select all the SpeciesCards
        const AllSpeciesCards = document.querySelectorAll("div#SpeciesCard");

        AllSpeciesCards.forEach(card => {
          // for each card, replace "searchText" by "<span class="highlighted term">searchText</span>"
          card.innerHTML = card.innerHTML.replace(regex,'>$1<span class="highlighted term">$2</span>$3<');
        })
      }
    },
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;/*webkit*/
  -moz-osx-font-smoothing: grayscale; /*special for firefox*/
  color: #4caf81;
  background-color: white;
}

#img-eflore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

span.highlighted {
  background-color: #fffb01;
  color: black;
}

</style>
