<template>
  <v-flex d-flex sm4 class="second-column">
    <v-layout>
      <v-flex d-flex child-flex>
        <div id='SpeciesLog'>

          <v-toolbar color="green">
            <v-toolbar-title class="white--text">Historique</v-toolbar-title>
          </v-toolbar>

          <v-card>
            <v-container
              fluid
              style="min-height: 0;"
              grid-list-lg
            >
              <v-layout row wrap>

                <!--one tile -->
                <v-flex xs12>
                  <v-card
                    color="grey lighten-3"
                    hover
                    v-for='element in viewedSpeciesList'
                    :key='element.id'
                  >
                    <v-container fluid grid-list-lg>
                      <v-layout row>
                        <v-flex xs12>
                          <div>
                            <div class="subheading">
                              <router-link
                                :to='"/detail/"+element.id'
                              > {{ element.name }} </router-link>
                            </div>
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card>
                </v-flex>
                <!--end of tile -->

              </v-layout>
            </v-container>
          </v-card>

        </div>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>

export default {
  name: 'SearchSpeciesLog',
  props: ['viewedSpeciesList'],
  data() {
    return {

    }
  }
}
</script>

<style>
.second-column {
  margin-top:20px;
}
</style>
