
<template>
  <v-layout>
    <v-flex>
      <div
        id="e3"
        style="max-width: 800px; margin: auto;"
        class="grey lighten-3"
      >
        <v-toolbar color="green">
          <v-toolbar-title
            class="white--text headline"
          >Fiche détaillée de {{speciesData.genus}} {{speciesData.attribute_name}}
          </v-toolbar-title>

          <v-spacer></v-spacer>
          <v-btn icon v-on:click="clickReturn">
            <v-icon color="white">arrow_back</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card raised>
          <v-container
            fluid
            style="min-height: 0;"
            grid-list-lg
          >
            <v-layout row wrap >

              <!-- 1st card -->
              <v-flex xs12 d-flex>
                <v-card color="grey lighten-3" class="black--text" flat>
                  <v-card-title primary-title>
                    <div class="title">Nomenclature</div>
                  </v-card-title>
                  <v-card-text v-if="speciesData !== ''">
                    <div >
                      Genre : {{speciesData.genus}} <br/>
                      Attribut : {{speciesData.attribute_name}} <br/>
                      Common Names : <br/>
                      <ul class="list-2columns">
                        <li v-for="(name, index) in common_names" :key="index">{{name}}</li>
                      </ul>
                      <br/>
                      Synonyms : <br/>
                      <ul class="list-2columns">
                        <li v-for="(synonym, index) in synonyms" :key="index">{{synonym}}</li>
                      </ul>

                    </div>

                  </v-card-text>
                </v-card>
              </v-flex>
              <!-- end 1st card -->

              <!-- 2nd card -->
              <v-flex sm4 xs12  d-flex>
                <v-card color="grey lighten-3" class="black--text" flat>
                  <v-card-title primary-title>
                    <div class="title">Taxonomie</div>
                  </v-card-title>
                  <v-card-text>

                    <div>
                      <ul>
                        <li v-for="(taxonName, nameType) in parentsData"
                          :key="nameType"
                        > {{nameType}} : {{taxonName}} </li>
                      </ul>
                    </div>

                  </v-card-text>
                </v-card>
              </v-flex>
              <!-- end 2nd card -->

              <!-- 3rd card -->
              <v-flex sm4 xs12  d-flex>
                <v-card color="grey lighten-3" class="black--text" flat>
                  <v-card-title primary-title>
                    <div class="title">Ecologie</div>
                  </v-card-title>
                  <v-card-text v-if="speciesData !== ''">

                      <ul>
                        <li v-for="(score, type) in ecology"
                          :key="type"
                          v-if="score !== ''"
                        > {{type}} : {{score}} </li>
                      </ul>

                  </v-card-text>
                </v-card>
              </v-flex>
              <!-- end 3rd card -->

              <!-- 4th card -->
              <v-flex sm4 xs12  d-flex>
                <v-card color="grey lighten-3" class="black--text" flat>
                  <v-card-title primary-title>
                    <div class="title">Chorologie</div>
                  </v-card-title>
                  <v-card-text>
                    <div>
                      {{ speciesData.chorology }}
                    </div>

                  </v-card-text>
                </v-card>
              </v-flex>
              <!-- end 4th card -->


            </v-layout>
          </v-container>
        </v-card>
      </div>
    </v-flex>
  </v-layout>
</template>


<script>
import axios from 'axios';
import Vue from 'vue'

export default {
  name: "SpeciesDetails",
  data () {
    return {
      speciesData: '',
      parentsData: {},
    }
  },

  beforeMount() {
    let speciesId = this.$route.params.speciesId;
    this.getData(speciesId);
  },

  methods: {
    getData(speciesId) {
      axios.get(`http://localhost:8000/api/species/${speciesId}/`)
      .then((res) => { this.speciesData = res.data; return res.data.parent })
      .then(parentId => this.getParent(parentId))
      .catch(err => console.warn(err))
    },

    getParent(q) {
      axios.get(`http://localhost:8000/api/taxon/${q}/`)
      .then(res => this.extractTaxonomy(res.data))
      .catch(err => console.warn(err))
    },

    extractTaxonomy(obj) {
      let nametype = obj.nametype
      let taxonName = obj.name
      let parent = obj.parent
      Vue.set(this.parentsData, nametype, taxonName);
      if (parent) {
        this.extractTaxonomy(parent);
      };
    },

    clickReturn() {
      this.$router.go(-1)
    }

  },
  computed: {
    ecology: function() {
      let sanitizedEcology = JSON.parse(this.speciesData.ecology)
      return sanitizedEcology
    },

    synonyms: function() {
      let sanitizedSynonyms = JSON.parse(this.speciesData.synonyms).filter( n => n != '')
      return sanitizedSynonyms
    },

    common_names: function() {
      let sanitizedCommons = JSON.parse(this.speciesData.common_names).filter( n => n != '')
      return sanitizedCommons
    },
  }

}
</script>

<style scoped>

.title {
  color: #4CAF50;
}

ul {
  list-style-position: inside;
}

.list-2columns {
  margin-left: 2em;
  column-count: 2;
  column-fill: balance;
  column-gap:20px;
}
</style>

