<template>
  <v-flex d-flex sm6 offset-sm1 class="first-column">
    <v-layout row d-block>
    <SpeciesCard
      id="SpeciesCard"
      v-for="species in selectedSpeciesList"
      v-bind:species="species"
      v-bind:key="species.id"
      @clicked-species="speciesCardHandler(species); routeToResult(species.id)"
    />
    </v-layout>
  </v-flex>
</template>

<script>

import SpeciesCard from '@/components/SpeciesCard'

export default {
  name: 'SpeciesCardsList',

  props: ['selectedSpeciesList'],

  components: {
    SpeciesCard
  },

  methods: {
    speciesCardHandler(species) {
      this.$emit('clicked-species', species)
    },

    routeToResult(speciesId) {
      this.$router.push({ name: 'detail', params: { speciesId } });
    },
  }
}
</script>

<style>
.first-column {
  margin-top:20px;
  margin-right: 20px;
}
</style>
