<template>
  <v-flex d-flex v-on:click="clickCard(species)">
    <v-card
      id="SpeciesCard-card"
      ripple
      hover
    >
      <v-card-title primary-title class="green">
        <h3 class="headline mb-0 white--text">{{species.genus}} {{species.attribute_name}}</h3>
      </v-card-title>

      <v-card-text>
        <div id='id'>
          Numéro d'identification : {{ species.id }}
        </div>

        <div id="synonyms" >
          Synonymes : <span v-for="(synonym, index) in synonyms" :key="index">{{synonym}}, </span>
        </div>

        <div id="common_names">
          Noms communs : <span v-for="(name, index) in common_names" :key="index">{{name}}, </span>
        </div>
      </v-card-text>

    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: "SpeciesCard",

  props: ["species"],

  methods: {
    clickCard(species) {
      this.$emit("clicked-species", species);
    },
  },

  computed: {
    synonyms: function() {
      return JSON.parse(this.species.synonyms).filter( n => n != '')
    },
    common_names: function() {
      return JSON.parse(this.species.common_names).filter( n => n != '')
    }
  }
};
</script>

<style scoped>
#SpeciesCard-card {
  display: block;
  text-align: justify;
  margin-bottom: 10px;
  background-color: #EEEEEE;
  color: black;
  font-size: 16px;
}
</style>

